.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 0;
}

.table-container {
	padding: 45px;
	overflow: auto;
}

table {
	table-layout: fixed;
	width: auto !important;
}

td {
	white-space: nowrap;
}